[submodule "cpp/third-party/dishtiny"]
  path = cpp/third-party/dishtiny
  url = https://github.com/mmore500/dishtiny.git
  shallow = true
[submodule "tex/submodules/hereditary-stratigraph-concept"]
  path = tex/submodules/hereditary-stratigraph-concept
  url = https://github.com/mmore500/hereditary-stratigraph-concept.git
  branch = binder
  shallow = true
