[submodule "tex/submodules/hereditary-stratigraph-concept"]
	path = tex/submodules/hereditary-stratigraph-concept-binder
  url = https://github.com/mmore500/hereditary-stratigraph-concept.git
  branch = binder
  shallow = true
[submodule "tex/submodules/hstrat"]
  path = tex/submodules/hstrat
  url = https://github.com/mmore500/hstrat.git
[submodule "binder/hstrat1x"]
	path = binder/hstrat1x_src
	url = https://github.com/mmore500/hstrat.git
